{% extends 'base/base.html' %} {% block content %}
<div class="page-content-wrapper" style="background: #4276A4;">
    <div class="page-content">
        <div class="portlet light bordered" style="width: 40%; margin: auto;">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="fa fa-book font-red"></i>
                    <span class="caption-subject bold uppercase"> Clase</span>
                </div>
                <div style="text-align: right;">
                    <a class="btn green float-right"
                        style="height: 25px; padding: 0px 5px 2px 5px ; margin: 10px 0px 2px 0px; "
                        href="{% url 'Clase' %} ">Atrás<i class="fa fa-reply"></i></a>
                </div>
            </div>
            <form action="" method="POST">
                {% csrf_token %}

                <div class="portlet-body form">
                    <form role="form">
                        {% for field in miformulario %}
                        <div class="mb-3">
                          <label for="{{field.name}}" class="form-label">{{field.name}}</label>
                          <input type="{{field.field.widget.input_type}}" 
                            class="form-control"
                            name="{{field.name}}" 
                             id="{{field.name}}"
                             aria-describedby="helpId"
                             placeholder="{{field.name}}"
                             value="{{field.value | default:''}}">
                        
                         
                        </div>
                        <div class="col-12 help-text">{{field.errors}}</div>
                        
                        {% endfor %}
                        <input type="submit" class="btn blue" style="margin: 10px" value="Guardar">


                    </form>
                </div>
        </div>

    </div>
</div>
{% endblock content %}