<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <ul
        class="page-sidebar-menu page-header-fixed page-sidebar-menu-closed"
        data-keep-expanded="false "
        data-auto-scroll="true "
        data-slide-speed="200 "
        style="padding-top: 20px"
      >
        <li class="sidebar-toggler-wrapper hide">
          <div class="sidebar-toggler">
            <span></span>
          </div>
        </li>
  
        <!---------------------- CLASES ----------------------------->
  
        <li class="nav-item start">
          <a href="{% url 'Clase' %} " class="nav-link nav-toggle">
            <i class="fa fa-book"></i>
            <span class="title">Clase</span>
          </a>
        </li>
        <!----------------------------- PROFESOR -------------------------------------->
  
        <li class="nav-item start">
          <a href='{% url "Profesor" %}' class="nav-link nav-toggle">
            <i class="fa fa-users"></i>
            <span class="title">Profesor</span>
          </a>
        </li>
  
        <!------------------------------------ ESTUDIANTE ----------------------------->
  
        <li class="nav-item start">
          <a href="" class="nav-link nav-toggle">
            <i class="fa fa-graduation-cap"></i>
            <span class="title">Estudiante</span>
          </a>
        </li>
      </ul>
    </div>
  </div>